<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
    <!-- zookeeper 搭建教程 : https://www.cnblogs.com/LUA123/p/11428113.html-->
    <!--配置作业注册中心 我的zookeeper是集群模式所以三个节点ip地址 -->
<!--    <reg:zookeeper id="regCenter" server-lists="172.27.144.185:2181,172.27.144.185:2182,172.27.144.185:2183" namespace="levi-job"-->
<!--                   base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />-->

    <!--    官方文档: https://www.cnblogs.com/sherrykid/p/5813148.html   -->
    <!-- 配置作业-->
<!--    <job:simple id="mySimpleJob_1" class="cn.com.schedule.common.elasticJob.job.MySimpleJob" registry-center-ref="regCenter"-->
<!--                cron="0/10 * * * * ?" sharding-total-count="1" job-sharding-strategy-class="com.dangdang.ddframe.job.lite.api.strategy.impl.AverageAllocationJobShardingStrategy"-->
<!--                overwrite="true"  />-->

    <!-- 配置作业-->
    <!-- elastic-job 分片使用 :https://blog.csdn.net/fanfan_v5/article/details/61310045 需要根据具体分片内容进行业务逻辑处理-->
    <!-- elastic-job 集群 只需要确定一个分片执行任务，如果程序挂了elastic-job 会自动切到其他服务器上执行-->
    <!-- 分片策略 : https://blog.csdn.net/tanga842428/article/details/52689119-->
<!--    <job:simple id="mySimpleJob_2" class="cn.com.schedule.common.elasticJob.job.MySimpleJob" registry-center-ref="regCenter"-->
<!--                cron="0/10 * * * * ?" sharding-total-count="1" job-sharding-strategy-class="com.dangdang.ddframe.job.lite.api.strategy.impl.AverageAllocationJobShardingStrategy"-->
<!--                overwrite="true"  />-->
</beans>